-if user.has_lat_lng?
  =google_maps_javascript_include_tag
  =content_for :head do
    :javascript
      $(document).ready(function() {
        UserMap.lat = #{user.lat};
        UserMap.lng = #{user.lng};
        UserMap.init()
      });

=render "community/community_nav"

.container.user-profile
  .row.mt-2
    .span1.mr-1
      =image_for(user, "60x60#")  
    .span8
      %h2.medium-title=title(user)
      %p.job-title=user.job_title unless user.job_title.blank?

    
  .row.mt-1
    .span8
      %p.normal-title.upcase.mb-1 My Collection
      -if !user.favourite_photos.empty?
        =user.favourite_photos.each_slice(4) do |photos|
          .row
            =render photos
          
      -elsif current_user == user
        Why not find some photos and add them to your collection?
      -else
        ="#{user} hasn't got any favourite photos yet"
                  
      %p.normal-title.upcase.mt-2.mb-1 My Programme
      -if !user.events.empty?
        =render user.events
      -elsif current_user == user
        ="Check out #{link_to 'what\'s going on', program_path} and add some events to your programme".html_safe
      -else
        ="#{user} isn't going to any events yet".html_safe

    .span3.offset1
      %p.normal-title.upcase My Location
      
      -if user.has_lat_lng?
        %p=user.address
        #map-canvas{:style => "height:220px;width:100%"}
        -if can?(:edit_location, user)
          .action-link
            =link_to(edit_location_user_path(user)) do
              %icon.icon-plus
              edit location              
      -elsif can?(:edit_location, user)
        .alert.alert-error
          %strong LOCATION MISSING 
          %p We couldn't work out your location
          .action-link
            =link_to(edit_location_user_path(user)) do
              %icon.icon-plus
              edit location
      -else
        %p
          =user.first_name
          hasn't set their location yet      
      
      %p.normal-title.upcase.mt-1 Bio
      -if user.bio.blank?
        =user.first_name
        hasn't entered a bio yet
      -else
        =simple_format(user.bio)
      .clearfix
      -if can?(:edit, user)
        .action-link
          =link_to(edit_user_path(user, :anchor => "details"))  do
            %icon.icon-plus
            edit bio
        
      %p.normal-title.upcase.mt-1 My Interests
      -if user.user_tags.empty?
        =user.first_name
        hasn't entered any interests yet
      -else
        %ul.tag-list.tag-list-horizontal
          -user.user_tags.each do |tag|
            %li
              =link_to_tag(tag, :label_options => {:method => :titleize})
      .clearfix
      -if can?(:edit, user)
        .action-link
          =link_to(edit_user_path(user, :anchor => "details")) do
            %icon.icon-plus
            edit interests


      %p.normal-title.upcase.mt-1 Contact Me
      -if user.links.empty?
        =user.first_name
        has no contact details yet
      -else
        %ul.tag-list.tag-list-horizontal
          -user.links.each do |link|
            %li
              =image_tag(link.favicon)
              =link_to(link, link.url, :target => '_blank')
        .clearfix
      -if can?(:edit, user)
        .action-link
          =link_to(edit_user_path(user, :anchor => "links")) do
            %icon.icon-plus
            edit links



  .row
    .span12
      =options_panel do
        =back_link
        =link_if_can("Edit profile", [:edit, user])