-if user.has_lat_lng?
  =google_maps_javascript_include_tag
  =content_for :head do
    :javascript
      $(document).ready(function() {
        UserMap.lat = #{user.lat};
        UserMap.lng = #{user.lng};
        UserMap.init()
      });

=render "community/community_nav"

.container.user-profile
  .row.mt-2.mb-3
    .span1.mr-1
      -if user.image
        =image_for(user, "60x60#")
      -else
        =link_to(image_for(user, "60x60#"), edit_user_path(user, :anchor => "details"), :id => 'user-image', :title => "Set your photo", :class => 'pull-left')
    .span8
      %h2.medium-title=title(user)
      -if user.job_title.present?
        %p.job-title=user.job_title
      -elsif can?(:edit,user)
        =link_to("Edit your job title +", edit_user_path(user, :anchor => "details"))
    
  .row.mt-1
    .span8
      -if user.favourites.photos.empty?
        %p.normal-title.upcase.mb-1="My Collection"
        -if logged_in_as?(user)
          Find your favourite photos in
          %u=link_to("galleries", Page.find_by_slug('galleries'))
          and photographers profiles and build your collection.
        -else
          ="#{user} hasn't collected any photos yet"
      -else
        -user.favourites.photos.group(:edition).collect(&:edition).reverse.each do |edition|
          %p.normal-title.upcase.mb-1="My Collection #{edition}"
          =user.favourites.photos.where(:edition => edition).each_slice(4) do |favourites|
            .row
              -favourites.each do |favourite|
                =render "photos/photo", :photo => favourite.resource
      .mt-3
        -if user.favourites.not_photos.empty?
          %p.normal-title.upcase.mb-1="My Favourites"
          -if logged_in_as?(user)
            Browse through the
            %u=link_to("galleries", Page.find_by_slug('galleries'))
            and photographers that will be attending the Unseen Photo Fair and add them to your selection.
          -else
            ="#{user} hasn't favourited any galleries or photographers."
        -else
          -user.favourites.not_photos.group(:edition).collect(&:edition).reverse.each do |edition|
            %p.normal-title.upcase.mb-1="My Favourites #{edition}"
            =user.favourites.not_photos.where(:edition => edition).each_slice(2) do |favourites|
              .row.mb-1
                -favourites.each do |favourite|
                  .span1
                    =link_to(image_for(favourite.resource, "60x60#"), favourite.resource)
                  .span3.related-text
                    =link_to_self(favourite.resource)
                    %br
                    =favourite.humanized_resource_type

      %p.normal-title.upcase.mt-3 My Programme
      -if !user.events.empty?
        =render user.events
      -elsif current_user == user
        Take a look at the
        %u=link_to 'Unseen programme', program_path
        and add some events to your calendar.
      -else
        ="#{user} isn't going to any events yet".html_safe

    .span3.offset1
      %p.normal-title.upcase My Location
      
      -if user.has_lat_lng?
        %p=user.address
        #map-canvas{:style => "height:220px;width:100%"}
        -if can?(:edit_location, user)
          =link_to("Edit location +",edit_location_user_path(user))
            
      -elsif can?(:edit_location, user)
        %p We couldn't work out your location
        =link_to("Edit location +",edit_location_user_path(user))
      -else
        %p
          =user.first_name
          hasn't set their location yet
      
      %p.normal-title.upcase.mt-2 Bio
      -if user.bio.blank? && current_user != user
        =user.first_name
        hasn't entered a bio yet
      -else
        =simple_format(user.bio)
      .clearfix
      -if can?(:edit, user)
        =link_to("Edit your Bio +", edit_user_path(user, :anchor => "details"))
        
      %p.normal-title.upcase.mt-2 My Interests
      -if user.user_tags.empty?
        =user.first_name
        hasn't entered any interests yet
      -else
        %ul.tag-list.tag-list-horizontal
          -user.user_tags.each do |tag|
            %li
              =link_to_tag(tag, :label_options => {:method => :titleize})
      .clearfix

      %p.normal-title.upcase.mt-2 Contact Me
      -if user.links.empty? && current_user != user
        =user.first_name
        has no contact details yet
      -else
        %ul.unstyled
          -user.links.each do |link|
            %li
              -if site = link.host.to_s.match(/(facebook|linkedin|twitter)/).try(:[], 1)
                =link_to(link.url, :target => "_blank") do
                  %i{:class => "icon-#{site}-sign"}
                  =link
              -else
                =image_tag(link.favicon)
                =link_to(link, link.url, :target => '_blank')
        .clearfix
      -if can?(:edit, user)
        =link_to("Add a link +", edit_user_path(user, :anchor => "links"))

  .row
    .span12
      =options_panel do
        =back_link
        =link_if_can("Edit profile", [:edit, user])