-bg_nums = [1,2,3,4,5].shuffle
#unseen_big_logo
#intro.home_box{:class => "home_bg_#{cycle(*bg_nums)}"}
  =render("layouts/header")
#second.home_box
  .container
    .row
      .span8#latest_news
        %h2 What's on?
        -[news_pages.shift(2), news_pages.shift(2)].each do |pages|
          .row
            -pages.each do |page|
              .list_image.span2.fade_in
                =link_to(image_for(page, "140x100#"), page)
              .list_box.span6
                %h3.list_title=link_to_self(page)
                =link_to raw('&rarr; Read more'), page, :class => 'list_read_more'
        -if news_page.present?
          .row
            .span2
              =link_to("More news", news_page)
      .span4
        .span4
          %h2 Share us
        .span4.fb_like_links
          %h4 Facebook
          .fb-like{:"data-href" => "http://www.facebook.com/UnseenPhotoFairAmsterdam", :"data-send" => "false", :"data-width" => "300", :"data-show-faces" => "false"}
          .fb-like-box{:"data-href" => "http://www.facebook.com/UnseenPhotoFairAmsterdam", :"data-width" => "300", :"data-height" => "300", :"data-colorscheme" => "light", :"data-show-faces" => "true", :"data-border-color" => "#fff", :"data-stream" => "false", :"data-header" => "false"}
        .span4
          %h4 Twitter
          .tweet_box
            Check out our new website http://bt.co/KJklj
          .twitter_handle
            @UnseenPhotoFair
            %br
            about 2 hours ago
        .span4#newsletter_signup
          %h4 Sign up for newsletter
          =text_field_tag "email", "", :class => "span4"
          =link_to "#" do
            %i.icon-play.icon-white
            submit
#third.home_box
#fourth.home_box{:class => "home_bg_#{cycle(*bg_nums)}"}
#fifth.home_box
#sixth.home_box{:class => "home_bg_#{cycle(*bg_nums)}"}
#seventh.home_box
#eighth.home_box{:class => "home_bg_#{cycle(*bg_nums)}"}
#ninth.home_box
#tenth.home_box{:class => "home_bg_#{cycle(*bg_nums)}"}